{deps, [{erlcloud, "0.13.6"},
        {cowboy, "1.0.4"},
        {jiffy, "0.14.7"},
        {beam_olympics, "1.2.3"}]}.

{overrides, [{override, jiffy, [ {plugins, [pc]}
                               , {artifacts, ["priv/jiffy.so"]}
                               , {provider_hooks, [{post, [ {compile, {pc, compile}}
                                                          , {clean, {pc, clean}}
                                                          ]}]}
                               ]}
            ]}.
