[ %% Sumo DB
  { sumo_db
  , [ {log_queries, true}
    , {query_timeout, 30000}
    , {wpool_opts, [{overrun_warning, 100}]}
    , {storage_backends, []}
    , { stores
      , [ { bo_store_mnesia
          , sumo_store_mnesia
          , [ {workers, 10}
            , {disc_copies, here}
            ]
          }
        ]
      }
    , { docs
      , [ {players, bo_store_mnesia, #{module => bo_players}}
        ]
      }
    , { events
      , [
        ]
      }
    ]
  }
, { mnesia
  , [{debug, true}]
  }
%% SASL
, { sasl
  , [ {sasl_error_logger, false}
    , {errlog_type, error}
    ]
  }
, { beam_olympics
  , [ { all_tasks
      , [ bo_first_task
%        , bo_henchmen
        , bo_awesomeness
%        , bo_missing_operations
        , bo_permutation_sum
        , bo_stringy
        , bo_romans
        , bo_tuple_counter
        , bo_properly
        , bo_entangled
        , bo_fun_with_numbers
        , bo_oldschool_flags]}
    , {s3_key, 		"NOT A KEY!"}
    , {s3_secret, "NOT A SECRET!"}
    , {s3_bucket, "NOT A BUCKET!"}
    , { hooks
      , #{ app_started => {bo_status_reporter, start}
         , signedup => {bo_status_reporter, signedup}
         , advanced => {bo_status_reporter, advanced}
         }
      }]
  }
].
